USE [master]
GO
/****** Object:  Database [EmployeeMgt_DB]    Script Date: 12/27/2020 11:01:52 PM ******/
CREATE DATABASE [EmployeeMgt_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EmployeeMgt_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\EmployeeMgt_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EmployeeMgt_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\EmployeeMgt_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EmployeeMgt_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EmployeeMgt_DB]
GO
/****** Object:  User [developer]    Script Date: 12/27/2020 11:01:52 PM ******/
CREATE USER [developer] FOR LOGIN [developer] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 12/27/2020 11:01:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Companies]    Script Date: 12/27/2020 11:01:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Companies](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[Email] [varchar](400) NULL,
	[Logo] [varbinary](max) NULL,
	[WebSite] [varchar](1000) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedUser] [int] NOT NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedUser] [int] NULL,
 CONSTRAINT [PK_Students] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 12/27/2020 11:01:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](100) NOT NULL,
	[LastName] [varchar](100) NOT NULL,
	[Email] [varchar](400) NOT NULL,
	[Phone] [varchar](12) NOT NULL,
	[Skills] [nvarchar](max) NULL,
	[CompanyId] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[CreatedUser] [int] NOT NULL,
	[ModifiedDate] [datetime2](7) NULL,
	[ModifiedUser] [int] NULL,
 CONSTRAINT [PK_Employees] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SecurityProfiles]    Script Date: 12/27/2020 11:01:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SecurityProfiles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[IsCreate] [bit] NOT NULL,
	[IsRead] [bit] NOT NULL,
	[IsUpdate] [bit] NOT NULL,
	[IsDelete] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[CreatedUser] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[ModifiedDate] [datetime2](7) NULL,
	[ModifiedUser] [int] NULL,
 CONSTRAINT [PK_SecurityProfiles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 12/27/2020 11:01:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[Password] [varchar](100) NOT NULL,
	[FirstName] [varchar](400) NULL,
	[LastName] [varchar](100) NULL,
	[SecurityProfileId] [int] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[CreatedUser] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[ModifiedDate] [datetime2](7) NULL,
	[ModifiedUser] [int] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20201226051629_init1', N'5.0.1')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20201226051851_init2', N'5.0.1')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20201226052104_init3', N'5.0.1')
SET IDENTITY_INSERT [dbo].[Companies] ON 

SET IDENTITY_INSERT [dbo].[Companies] OFF
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([Id], [FirstName], [LastName], [Email], [Phone], [Skills], [CompanyId], [IsActive], [CreatedDate], [CreatedUser], [ModifiedDate], [ModifiedUser]) VALUES (3, N'Masha', N'Pandith', N'm@gmail.com', N'0715701413', N'Swiming', 1, 1, CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), 0, CAST(N'2020-12-27T22:31:09.1219151' AS DateTime2), 4)
INSERT [dbo].[Employees] ([Id], [FirstName], [LastName], [Email], [Phone], [Skills], [CompanyId], [IsActive], [CreatedDate], [CreatedUser], [ModifiedDate], [ModifiedUser]) VALUES (4, N'Surani', N'Mahisha', N's@gmail.com', N'0715701413', N'Swimig', 2, 1, CAST(N'2020-12-27T22:42:31.0828712' AS DateTime2), 4, CAST(N'2020-12-27T22:42:40.3562929' AS DateTime2), 4)
SET IDENTITY_INSERT [dbo].[Employees] OFF
SET IDENTITY_INSERT [dbo].[SecurityProfiles] ON 

INSERT [dbo].[SecurityProfiles] ([Id], [Name], [IsCreate], [IsRead], [IsUpdate], [IsDelete], [CreatedDate], [CreatedUser], [IsActive], [ModifiedDate], [ModifiedUser]) VALUES (2, N'Administrator', 1, 1, 1, 1, CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), 0, 1, CAST(N'2020-12-27T20:56:34.8904921' AS DateTime2), 4)
INSERT [dbo].[SecurityProfiles] ([Id], [Name], [IsCreate], [IsRead], [IsUpdate], [IsDelete], [CreatedDate], [CreatedUser], [IsActive], [ModifiedDate], [ModifiedUser]) VALUES (5, N'User', 0, 1, 0, 0, CAST(N'2020-12-27T22:49:54.3419732' AS DateTime2), 3, 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[SecurityProfiles] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Email], [Password], [FirstName], [LastName], [SecurityProfileId], [CreatedDate], [CreatedUser], [IsActive], [ModifiedDate], [ModifiedUser]) VALUES (3, N'Harsh@gmail.com', N'4u3XMDPRQ04=', N'harsh', N'Likshika', 2, CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), 0, 1, CAST(N'2020-12-27T22:51:47.9999675' AS DateTime2), 3)
INSERT [dbo].[Users] ([Id], [Email], [Password], [FirstName], [LastName], [SecurityProfileId], [CreatedDate], [CreatedUser], [IsActive], [ModifiedDate], [ModifiedUser]) VALUES (6, N'admin@gmail.com', N'4u3XMDPRQ04=', N'Admin', N'Admin', 2, CAST(N'2020-12-27T22:49:40.0128683' AS DateTime2), 3, 1, NULL, NULL)
INSERT [dbo].[Users] ([Id], [Email], [Password], [FirstName], [LastName], [SecurityProfileId], [CreatedDate], [CreatedUser], [IsActive], [ModifiedDate], [ModifiedUser]) VALUES (7, N'user@gmail.com', N'4u3XMDPRQ04=', N'User', N'user', 5, CAST(N'2020-12-27T22:50:15.6969466' AS DateTime2), 3, 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
/****** Object:  Index [IX_Employees_CompanyId]    Script Date: 12/27/2020 11:01:52 PM ******/
CREATE NONCLUSTERED INDEX [IX_Employees_CompanyId] ON [dbo].[Employees]
(
	[CompanyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Users_SecurityProfileId]    Script Date: 12/27/2020 11:01:52 PM ******/
CREATE NONCLUSTERED INDEX [IX_Users_SecurityProfileId] ON [dbo].[Users]
(
	[SecurityProfileId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT ('') FOR [Email]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT ('') FOR [Phone]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsActive]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT ((0)) FOR [CreatedUser]
GO
ALTER TABLE [dbo].[SecurityProfiles] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [CreatedDate]
GO
ALTER TABLE [dbo].[SecurityProfiles] ADD  DEFAULT ((0)) FOR [CreatedUser]
GO
ALTER TABLE [dbo].[SecurityProfiles] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [CreatedUser]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_SecurityProfiles_SecurityProfileId] FOREIGN KEY([SecurityProfileId])
REFERENCES [dbo].[SecurityProfiles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_SecurityProfiles_SecurityProfileId]
GO
USE [master]
GO
